.liitems {
    cursor: pointer;
    border: 2px solid;
    border-color: rgb(211, 208, 208);
    margin-bottom: 15px;
    margin-right: 40px;
    width: 500px;
    padding: 1.5%;
    border-radius: 6px;
}

.liitems:active {
    background-color: lightgray;
}